<h1 class="users--title"> <%= current_user.username  %> Messages </h1>

<% if @messages != [] %>
  <% @messages.each do |message| %>
    <%= render :partial => 'messages/message', :locals => {message: message} %>
  <% end %>
<% else %>
  <br>
  <div class="empty-group">
    <img class="empty-group--image" src="/images/envelope.png" />
    <p class="empty-group--text"> You don't have any messages right now.</p>
  </div>
<% end %>
