.card {
  margin: 10px auto !important;
  width: 65%;
}

.card-header {
  padding: 0.5rem !important;
}

.card-body {
  padding: 0.5rem 1.2rem !important;
}

.card-p {
  padding: 2px;
  margin: 0px 0px 5px 0px;
}

.card-button {
  position: absolute;
  right: 30px;
  top: 63px;
}
