.card {
  margin: 10px auto !important;
  width: 80%;
}

.on-user-screen {
  width: 100%;
}

.card-green {
  background: #e0f5e0 !important;
  border: 2px dashed green !important;
}

.card-header {
  padding: 0.5rem !important;
}

.card-bookmark {
  cursor: pointer;
}

.card--options {
  position: absolute;
  right: 30px;
  top: 11px;
  z-index: 500;
}

.card-body {
  padding: 0.5rem 1.2rem !important;
}

.card--text {
  display: inline-block;
  width: 155px !important;
}

.card--icon {
  margin-right: 10px;
}

.card--count-text {
  padding-top: 2px;
  display: inline-block;
}

.card-p {
  padding: 2px;
  margin: 0px 0px 0px 0px;
}

.card-button {
  position: absolute;
  right: 10px;
  top: 98px;
}
