.card {
  margin: 10px auto !important;
  width: 90%;
}

.on-user-screen {
  width: 100%;
}

.card-green {
  background: #e0f5e0 !important;
  border: 2px dashed green !important;
}

.card-header {
  padding: 0.5rem !important;
}

.card-bookmark {
  position:absolute;
  top: -4px;
  left: -6px;
  cursor: pointer;
  margin-right: 3px;
}

.card--options {
  width: 11%;
  position: relative;
  z-index: 500;
  float:right;
}

.is_featured {
  width: 17%;
}

.card--count-img {
  margin-right: 3px;
  margin-top: -6px;
}

.card-body {
  padding: 0.5rem 1.2rem !important;
}

.card--text {
  display: inline-block;
  width: 185px !important;
}

.card--icon {
  margin-right: 10px;
}

.card--count-text {
  padding-top: 2px;
  display: inline-block;
}

.card-p {
  padding: 2px;
  margin: 0px 0px 0px 0px;
}

.card-button {
  position: absolute;
  right: 10px;
  top: 98px;
}
