.form {
  margin: auto !important;
  width: 50% !important;
}

.form--text-field {
  margin: 3px 0px;
  resize: none;
}

.form--group-button {
  margin: 3px;
}

.form--question-image {
  height: 22px;
  margin-top: 4px;
  margin-left: 3px;
}

.form--invisible-button {
  border: none;
}

.form--text {
  vertical-align: middle;
}

input:focus, button {
  outline: none !important;
}
