.locater {
  margin: 25px auto;
  width: 525px;
}

.locater--list {
  margin: auto;
  width: 100%
}

.locater--heading {
  border-radius: 0 !important;
  margin: auto;
}

.locater--link {
  text-decoration: none !important;
}
