.navbar {
  padding: 0rem 1rem !important;
}

.is-right {
  right: 10px;
  position: absolute;
}

.nav--title {
  border-left: solid 2px grey;
  border-right: solid 2px grey;
  padding: 0px 9px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 25px;
}

.nav--unread {
  height: 10px;
  width: 7px;
  border-radius: 100%;
}


.nav--viewcount {
  position: absolute;
  left: -60px;
  top: 6px;
}

.nav--scroll {
  position: absolute;
  right: -96px;
  top: 5px;
}

.nav--pin {
  right: -18px;
  top: 2px;
}

.nav--clap {
  position: absolute;
  right: -75px;
  top: 3px;
  cursor: pointer;
}

.image {
  top: 5px;
  left: -25px;
}

.nav--star {
  position: absolute;
  right: -40px;
  top: 2px;
  cursor: pointer;
}

.nav--logo {
  height: 40px;
}
