.users {
  margin: 40px;
}

.users--all-works {
  margin: 25px 0px !important;
}

.is-title {
  margin-bottom: 25px;
}

.users--title {
  margin-bottom: 5px !important;
}

.users--stats {
  margin-bottom: 0px;
}

.users--row {
  margin: 25px;
}

.users--message {
  resize: none;
  margin-bottom: 15px;
}

.users--follow-img {
  width: 40px;
  margin-bottom: 9px;
  margin-left: 9px;
}

.users--badge {
  position: absolute !important;
  display: inline !important;
  margin-top: -15px !important;
}

.users--settings {
  position: relative;
  width: 34px;
  margin-bottom: 5px !important;
}

.users--settings--item {
  padding: 2px !important;
  height: 34px !important;
  margin: auto;
}

.users--settings--img {
  margin: auto;
  width: 25px;
}
