<% if (current_user == @work.user || @work.show_prompt) && @work.prompt != '' %>
   <p class="faded-text"> <i class="far fa-lightbulb"></i> <%= @work.prompt %> </p>
 <% else %>
   <br/>
<% end %>
<% if current_user != @work.user %>
  <div class="message-content">
    <%= @work.body.gsub('~', '').html_safe %>
  </div>
<% end %>

<% if current_user == @work.user %>
  <input id="message_content" type="hidden" value="<%= @work.body.gsub('~', '') %>" class="textbox">
  <trix-editor input="message_content" id="trix-editor"></trix-editor>
<% end %>
