<h3 class="heading"> Projects people are working on right now! </h3>

<% @active.each do |work|  %>
  <%= render :partial => 'home/work', :locals => {work: work} %>
<% end  %>

<h3 class="heading"> Bookmarked projects </h3>

<% @bookmarked_works.each do |work|  %>
  <%= render :partial => 'home/work', :locals => {work: work} %>
<% end  %>

