<h1 class="heading"> Active projects </h1>
<% @recent_works.each do |work|  %>
  <%= render :partial => 'home/work', :locals => {work: work} %>
<% end  %>

<h1 class="heading"> Bookmarked projects </h1>

<% @bookmarked_works.each do |work|  %>
  <%= render :partial => 'home/work', :locals => {work: work} %>
<% end  %>


