<div class="jumbotron">
  <div class="container">
    <h1 class="heading">
      <img class="feather--img" src="/images/feather.png">
      WriteRoom.
      <span id="msg"></span>
    </h1>
    <p> WriteRoom can be used to motivate yourself to write, to watch others hone their craft, or as a demonstrative teaching tool. It's still in its early stages, but why not sign up as a beta user and help shape a unique writing tool? </p>
    <p><a class="btn btn-primary btn-lg" href="#anchor" role="button">Learn more »</a></p>
  </div>
</div>

<div class="welcome--container">
  <div class="row">
    <div class="col-md-7">
      <h3 id="anchor" class="heading"> Real-time writing? What? </h3>

      <p> Writing is hard. So, so hard. But to get good, you know you have to do it. A lot of it. You have to learn from mistakes. You have to read as well as write. </p>

      <p> I've made a platform that tries to support all of this. First, you create a project, with optional writing prompts to help get the juices flowing...</p>
    </div>
    <div class="col-md-5">
      <img src="/images/1.gif" class="img-fluid">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <img src="/images/2.gif" class="img-fluid">
    </div>
    <div class="col-md-5">
      <h3 class="heading"> Start writing... </h3>
      <p>Then you fight your demons and start writing! Just do it. Just get going. Nothing bad can happen. In fact, a few good things can! </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h3 class="heading"> ...and you'll get feedback. </h3>

      <p>But only good feedback! As people watch, they will see you writing in real time and, if they like what they see, can applaude you. It feels good, man.</p>
      <p>Everything you write is immediately saved to the server too, so, in theory, you should never lose a word, no matter how much you write.*</p>
    </div>
    <div class="col-md-5">
      <img src="/images/3.gif" class="img-fluid">
    </div>
  </div>

  <br />
  <br />
  <p> It has a load of other features that are all mostly working... and with your feedback, should be working excellently shortly. Things like following, DMs, bookmarking a project, zooming to new text as it's written... these things all work. They're just not amazing, yet. Sign up and see! </p>
  <a href="/users/sign_up" class="btn btn-lg btn-primary btn-block"> Get me a free beta account! </a>
  <p class="faded-text"> * This is still a beta product. If you lose stuff, I'm really really sorry, but it might happen.</p>
  <p class="mt-5 mb-3 text-muted">&copy; WriteRoom 2019</p>
</div>
